astor==0.8.1
fastapi==0.103.1
jsonschema==4.19.0
mysqlclient==2.2.0
openai==0.28.0
pydantic==2.3.0
python-dotenv==1.0.0
pytz==2023.3.post1
Requests==2.31.0
rich==13.5.2
schedule==1.2.0
SQLAlchemy==2.0.20
sqlparse==0.4.4
starlette==0.27.0
tenacity==8.2.3
tokentrim==0.1.10
uvicorn==0.23.2
xpinyin==0.7.6
docx2txt==0.8
pdfminer==20191125
pdfminer.six==20221105
langchain==0.0.292
tiktoken==0.4.0
pymilvus==2.3.0
pypdf==3.16.0
pymupdf==1.23.3
docx2txt==0.8
pandas==2.1.0
tabulate==0.9.0
python-docx
chardet
pdfplumber
python-multipart
matplotlib
plotly
scipy
scikit-learn
tenacity