fastapi==0.101.0
jsonschema==4.19.0
openai==0.27.8
pydantic==2.1.1
python-dotenv==1.0.0
starlette==0.27.0
uvicorn==0.23.2
xpinyin==0.7.6
pytz~=2023.3
sqlalchemy
mysqlclient
numpy
seaborn
matplotlib
schedule
adjustText
rich==13.4.2
tiktoken==0.4.0
astor==0.8.1
git-python==1.0.3
tokentrim==0.1.2
appdirs==1.4.4
six==1.16.0